/* Heading part */
.head1{
    margin-top: 3.5em;
    margin-left: 4em;
    position: absolute;}    
/* Login Part */

.container{
    text-align: center;
    position: fixed;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    float: right;
    background-color: aliceblue;
    border: 3px solid white;
    width: 400px;
    height: 350px; 
    border-radius: 2vh;
    
}  
.loginform{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
    
  form input{
  margin-top: 20px;
height: 60px;
    width: 90%;
     
    border-radius: 2vh;
    background-color: transparent;
  }
  
  button {
    margin-top: 20px;
    background-color: silver;
    height: 60px;
    width: 90%;
    border-radius: 2vh;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
  }
  
  .Fat {
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .line {
    -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #dadde1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
    text-align: center;
  }
  
  .btnI {
    background-color: silver;
    padding: 0.6em;
    margin-top: 1em;
    width: 12em;
    border-radius: 2vh;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
  }
  .cen{
      display: flex;
      justify-content: center;

  }
  /* RecentLogin part */
  body{
    background-image: url("bg.jpg");
}
                     